:root {
    --c-level: 460px;
    --cr-level: 545px;
    --tw-level: 460px;
    --or-level: 545px;
    --ls-level: 460px;
    --tp-level: 545px;
}

body{
    margin: 0;
}

.header, .main {
    width: 1250px;
    margin: 0 auto;
}

.header{
    padding: 120px 0 100px 0;
    border-bottom: 1px solid #d0cfcf;
}

.header__title{
    font-family: Arial;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #414142;
    margin: 0;
}

.header__subtitle {
    font-family: Arial;
    font-size: 27px;
    font-weight: normal;
    color: #414142;
    margin: 0;
}

.contacts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__contacts {
    margin-top: 30px;
}

.contacts__item {
    display: inline-block;
    margin-right: 10px;
    font-family: Arial;
    font-size: 17px;
}

.contacts__link {
    color: #9d9fa2;
    text-decoration: none;
}

.main {
    padding: 40px 0 510px 0;
    font-size: 0;
}

.main__left, .main__right {
    display: inline-block;
    vertical-align: top;
}

.main__left {
    width: 425px;
    font-size: 20px;
}

.main__right {
    box-sizing: border-box;
    width: 825px;
    font-size: 20px;
    padding-left: 65px;
}

.main__avatar{
    margin-bottom: 30px;
}

.title-btn {
    display: inline-block;
    margin: 0 0 40px 0;
    padding: 10px 35px;
    background-color: #f3c915;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    color: #414142;
}

.personal-info__content{
    margin-top: 30px;
}

.personal-info__text {
    margin: 0;
    color: #414142;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
}

.personal-info__text_bold {
    font-weight: bold;
}

.experience__content{
    margin-top: 40px;
}

.job-item {
    margin-bottom: 55px;
}

.job-item__period {
    color: #9d9fa2;
    font-family: "Century Gothic";
    font-size: 20px;
    margin-bottom: 20px;
    /*font-style: italic;*/
}

.job-item__position{
    color: #414142;
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

.job-item__company {
    color: #414142;
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.job-item__description {
    color: #9d9fa2;
    font-family: "Century Gothic";
    font-size: 17px;
    font-weight: normal;
    line-height: 1.8;
}

.skills__title{
    height: 44px;
    width: 145px;
    font-size: 38px;
    padding: 18px 40px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.skills__item{
    margin-top: 37px;
}


.skill__title{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

.skill__level{
    border: 1px solid #bfc0c1;
    width: 620px;
    height: 27px;
    margin-top: 18px;
    position: relative;
}

.skill__level:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    background-color: #BFC0C1;
}

.communication:before {
    width: var(--c-level);
}

.creativity:before {
    width: var(--cr-level);
}

.teamwork:before {
    width: var(--tw-level);
}

.organization:before {
    width: var(--or-level);
}

.leadership:before {
    width: var(--ls-level);
}

.teamplayer:before {
    width: var(--tp-level);
}

.footer {
    height: 45px;
    background-color: #f3c915;
}